body {
    font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #888;
}
#products-table-body tr:nth-child(even) {
    background-color: #f9fafb; 
}